<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Serif+Pro:wght@900&display=swap" rel="stylesheet"> -->
    <title> Capstone Travel App </title>
</head>

<body>
    <div id="app">
        <div class="title"> Travel </div>
        <div class="subtitle"> For all your travel details and information!</div>
        <div class="destination">
            <label for="city">Where are you going?</label>
            <!-- <br> -->
            <input type="text" id="destination" placeholder="Enter a city name">
        </div>
        <br>
        <div class="holder date">
            <label class="date">When are you leaving?</label>
            <input type="date" id="departDate" placeholder="December 25, 2021"></input>
            <br>
            <button id="generate"> Submit </button>
        </div>
        <div class="results holder">
            <table>
                <tr>
                    <h1> My Trip </h1>
                    <td class="trip-text" id="travel-date"></td>
                </tr>
                <tr>
                    <td class="trip-text" id="city"></td>
                </tr>
                <tr>
                    <td class="trip-text" id="country-code"></td>
                </tr>
                <tr>
                    <td class="trip-text" id="longitude"></td>
                </tr>
                <tr>
                    <td class="trip-text" id="latitude"></td>
                </tr>
                <tr>
                    <td class="trip-text" id="population"></td>
                </tr>
                <tr>
                    <td class="trip-text" id="weather"></td>
                    <img id="weather-icon" src="">
                </tr>
                <tr>
                    <img id="pixabay-img" src="">
                </tr>
                <tr>
                    <br>
                    <td class="trip-text-timer" id="timer"> </td>
                </tr>
            </table>
        </div>
        <footer>
            <h6>Project created by Gabriel Borja. &copy;</h6>
        </footer>
    </div>
    <script>
        //     if ('serviceWorker' in navigator) {
        //         window.addEventListener('load', () => {
        //             navigator.serviceWorker.register('dist/service-worker.js');
        //         });
        //     }
        //
    </script>
</body>

</html>